 {{> navs/baseballnav }}

 <h1>Baseball Hot Guyz</h1>

 {{#each players}}
 	{{name}}
	{{upvote}}<br>
 	<img src="{{img_url}}" alt="" height="325" width="400"><br>
 	{{team}}
 	{{jersey_number}}
	{{position}}
 	{{age}}
 	{{college}}
 	{{salary}}
 	{{instagram_name}}
 	{{marital_status}}<br>
 	<br>
 {{/each}}