 {{> navs/baseballnav }}

<h1 class="single-title"> Baseball News</h1>

{{#each articles}}
	<div class="single-news">
		<h3><b>{{link_text}}</b></h3>
		{{article_source}}<br>
		{{article_text}}
		<a href={{link_url}} target="_blank">Read more</a>
		{{article_data}}<br>
	</div>
{{/each}}
