 {{> navs/hockeynav }}

<h1>Hockey News</h1>

{{#each articles}}
	<h3>{{link_text}}</h3>
	{{article_source}}<br>
	{{article_text}}
	<a href={{link_url}} target="_blank">Read more</a>
	{{article_data}}<br>
{{/each}}
